<form *ngIf="showAddTask" class="add-form" (ngSubmit)="onSubmit()">
    <div class="form-group">
        <label for="text">Task</label>
        <input type="text" class="form-control" autocomplete="off" name ="text" [(ngModel)]="text" id="text" placeholder="Add Task">
    </div>

    <div class="form-group">
        <label for="day">Day & Time</label>
        <input type="text" class="form-control" autocomplete="off" name ="day" [(ngModel)]="day" id="day" placeholder="Add DAy and Time">
    </div>

    <div class="form-check">
        <label for="reminder" class="form-check-label">Set Reminder</label>
        <input type="checkbox" class="form-check-input" name ="reminder" [(ngModel)]="reminder" id="reminder">
    </div>

    <input type="submit" value="Save Task" class="btn btn-block">
</form>