*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    align-items: center;
}

body{
    font-family: "Poppins", sans-serif;
    border: 1px solid grey;
    align-items: center;
    width: 60%;
}
.btn{
    background-color:black;
    color: white;
    border: 1px solid green;
    outline: none;
    border-radius: 8px;
    width: 55px;
    height: 35px;
}
.form-group{
    margin: 20px 0;
}
.form-group label{
    display: block;
}